// сорян за не очень пиздатую вёрстку, температура ебенила высокая, больничный хуй дали,
//чуток попустило и я в шоке с того, чё наделал. Но переделывать уже времени нет

$title-color-text: #030A1E;
$primary-color-text: #3B445E;

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    background: #ccc;
}

.wrapp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    padding-top: 75px;
    flex-grow: 1;
    color: $primary-color-text;
    background: #fff;
    @media screen and (min-width: 768px) {
        padding-top: 107px;
    }
    @media screen and (min-width: 1366px) {
        padding-top: 125px;
    }
    @media screen and (min-width: 1920px) {
        padding-top: 170px;
    }
}
.subcontainer {
    max-width: unset;
    margin: 0;
    padding: 0;
    @media screen and (min-width: 768px) {
        max-width: 83.333%;
        margin: 0 auto;
        // padding: 0 15px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 991.98px) {
        max-width: 708px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        max-width: 920px;
    }
    @media (min-width: 1200px) and (max-width: 1365.98px) {
        max-width: 1140px;
    }
    @media (min-width: 1366px) and (max-width: 1919.98px) {
        max-width: 1280px;
    }
    @media screen and (min-width: 1920px) {
        max-width: 1750px;
    }
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 31.69px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 41.45px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 40px;
        line-height: 48.46px;
    }
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: $title-color-text;
    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 21.29px;
    }
    @media screen and (min-width: 1366px) {
        line-height: 21.94px;
    }
    @media screen and (min-width: 1920px) {
        font-size: 26px;
        line-height: 31.69px;
    }
}

.button-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    padding: 9px 23px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 24.38px;
        padding: 12px 36px;
    }
    @media screen and (min-width: 1366px) {
        font-size: 20px;
        padding: 12px 29px;
    }
    @media screen and (min-width: 1920px) {
        padding: 17px 60px;
    }
}