.hub {

    // .hub__title

    &__title {
        color: $title-color-text;
        text-align: center;
        margin-top: 31px;
        margin-bottom: 14px;
        @media screen and (min-width: 768px) {
            margin: 74px 0 35px;
        }
        @media screen and (min-width: 1366px) {
            margin: 52px 0 32px;
        }
        @media screen and (min-width: 1920px) {
            margin: 80px 0 70px;
        }
    }

    // .hub__flex

    &__flex {
        display: flex;
        flex-direction: column;
        margin-bottom: 17px;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 44px;
        }
        @media screen and (min-width: 1366px) {
            justify-content: start;
        }
        @media screen and (min-width: 1920px) {
            margin-bottom: 60px;
        }
    }

    // .hub__box

    &__box {
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 7px;
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }
        @media screen and (min-width: 768px) {
            max-width: 260px;
            margin-bottom: 0;
        }
        @media screen and (min-width: 992px) {
            max-width: 420px;
            flex: 50%;
            &:first-child {
                margin-right: 30px;
            }
        }
        @media screen and (min-width: 1366px) {
            &:first-child {
                margin-right: 60px;
            }
        }
        @media screen and (min-width: 768px) {
            max-width: 700px;
        }
    }

    // .hub__box-title

    &__box-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 17px;
        font-size: 14px;
        margin-bottom: 13px;
        color: $title-color-text;
        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 19.5px;
        }
        @media screen and (min-width: 1366px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px;
        }
        @media screen and (min-width: 1920px) {
            line-height: 34px;
            font-size: 26px;
            margin-bottom: 30px;
            max-width: 600px;
        }
    }

    // .hub__box-txt

    &__box-txt {
        font-size: 12px;
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 15px;
        }
        @media screen and (min-width: 1366px) {
            margin-bottom: 8px;
            line-height: 24px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 18px;
            max-width: 560px;
            margin-bottom: 20px;
        }
    }

    // .hub__banner

    &__banner {
        text-align: center;
        margin-bottom: 19px;
        @media screen and (min-width: 768px) {
            margin-bottom: 79px;
        }
        @media screen and (min-width: 1366px) {
            margin-bottom: 56px;
        }
        @media screen and (min-width: 1920px) {
            margin-bottom: 80px;
        }
    }

    // .hub__banner-title

    &__banner-title {
        padding: 8px 10px;
        color: #fff;
        background: $primary-color-text;
        line-height: 16px;
        font-size: 14px;
        @media screen and (min-width: 768px) {
            padding: 18px;
            line-height: 24px;
        }
        @media screen and (min-width: 1366px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 20px;
            padding: 48px;
        }
    }

    // .hub__banner-box

    &__banner-box {
        padding: 14px;
        background: rgba(200, 212, 255, 0.2);
        @media screen and (min-width: 768px) {
            padding: 25px 0 30px;
        }
        @media screen and (min-width: 1920px) {
            padding: 40px 0 58px;
        }
    }

    // .hub__banner-box--title

    &__banner-box--title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: $title-color-text;
        font-size: 14px;
        margin-bottom: 5px;
        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 7px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }

    // .hub__banner-box--txt

    &__banner-box--txt {
        font-size: 12px;
        @media screen and (min-width: 768px) {
            max-width: 500px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 20px;
        }
        @media screen and (min-width: 1366px) {
            max-width: 574px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 20px;
            max-width: 840px;
            line-height: 24px;
        }
    }
}

.glance {
    background: $title-color-text;
    color: #fff;
    padding-top: 33px;
    padding-bottom: 46px;
    @media screen and (min-width: 768px) {
        padding-top: 59px;
        padding-bottom: 80px;
    }
    @media screen and (min-width: 1366px) {
        padding-top: 64px;
        padding-bottom: 108px;
    }
    @media screen and (min-width: 1920px) {
        padding-top: 80px;
        padding-bottom: 95px;
    }
    // .glance__title

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 29px;
        text-align: center;
        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1366px) {
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 26px;
        }
    }

    // .glance__expected

    &__expected {
        font-size: 12px;
        line-height: 16px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 25px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 20px;
            max-width: 1000px;
            margin: 0 auto;
        }
    }

    // .glance__block

    &__block {
        padding-left: 25px;
        position: relative;
        @media screen and (min-width: 768px) {
            padding-left: 35px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 10px;
            height: 10px;
            background: url('../images/white_mini_dots.svg') no-repeat;
            @media screen and (min-width: 768px) {
                top: 5px;
                width: 16px;
                height: 16px;
                background: url('../images/white_dots.svg') no-repeat;
            }
        }
    }

    // .glance__block-list

    &__block-list {
        padding-left: 35px;
        margin: 35px 0;
        @media screen and (min-width: 768px) {
            margin: 28px 0 23px;
        }
        @media screen and (min-width: 1920px) {
            margin: 44px 0 47px;
        }
    }

    // .glance__block-item

    &__block-item {
        padding-left: 15px;
        margin-bottom: 17px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 5px;
            height: 5px;
            background: #fff;
            border-radius: 50%;
            @media screen and (min-width: 768px) {
                top: 9px;
            }
            @media screen and (min-width: 1366px) {
                width: 7px;
                height: 7px;
            }
        }
    }
}