.hub {

    // .hub__title

    &__title {
        color: $title-color-text;
        text-align: center;
        margin-top: 31px;
        margin-bottom: 14px;
        @media screen and (min-width: 768px) {
            margin: 74px 0 35px;
        }
    }

    // .hub__flex

    &__flex {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 44px;
        }
    }

    // .hub__box

    &__box {
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 7px;
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }
        @media screen and (min-width: 768px) {
            max-width: 260px;
        }
    }

    // .hub__box-title

    &__box-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        line-height: 17px;
        font-size: 14px;
        margin-bottom: 13px;
        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 19.5px;
        }
    }

    // .hub__box-txt

    &__box-txt {
        font-size: 12px;
        margin-bottom: 9px;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 15px;
        }
    }

    // .hub__banner

    &__banner {
        text-align: center;
        margin-bottom: 19px;
        @media screen and (min-width: 768px) {
            margin-bottom: 79px;
        }
    }

    // .hub__banner-title

    &__banner-title {
        padding: 8px 10px;
        color: #fff;
        background: $primary-color-text;
        line-height: 16px;
        font-size: 14px;
        @media screen and (min-width: 768px) {
            padding: 18px;
            line-height: 24px;
        }
    }

    // .hub__banner-box

    &__banner-box {
        padding: 14px;
        background: rgba(200, 212, 255, 0.2);
        @media screen and (min-width: 768px) {
            padding: 25px 0 30px;
        }
    }

    // .hub__banner-box--title

    &__banner-box--title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: $title-color-text;
        font-size: 14px;
        margin-bottom: 5px;
        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 7px;
        }
    }

    // .hub__banner-box--txt

    &__banner-box--txt {
        font-size: 12px;
        @media screen and (min-width: 768px) {
            max-width: 500px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.glance {
    background: #000;
    color: #fff;
    padding-top: 33px;
    padding-bottom: 46px;
    @media screen and (min-width: 768px) {
        padding-top: 59px;
        padding-bottom: 80px;
    }
    // .glance__title

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 29px;
        text-align: center;
        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 35px;
        }
    }

    // .glance__expected

    &__expected {
        font-size: 12px;
        line-height: 16px;
        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 25px;
        }
    }

    // .glance__block

    &__block {
        padding-left: 25px;
        position: relative;
        @media screen and (min-width: 768px) {
            padding-left: 35px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 10px;
            height: 10px;
            background: url('../images/white_mini_dots.svg') no-repeat;
            @media screen and (min-width: 768px) {
                top: 5px;
                width: 16px;
                height: 16px;
                background: url('../images/white_dots.svg') no-repeat;
            }
        }
    }

    // .glance__block-list

    &__block-list {
        padding-left: 35px;
        margin: 35px 0;
        @media screen and (min-width: 768px) {
            margin: 28px 0 23px;
        }
    }

    // .glance__block-item

    &__block-item {
        padding-left: 15px;
        margin-bottom: 17px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 5px;
            height: 5px;
            background: #fff;
            border-radius: 50%;
        }
    }
}