.wrapper {
    min-height: 100%;
}
.fullpage {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    // .page__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    // .page__screen

    &__screen {
    }
}
.screen {
    flex: 1 0 100%;
    position: relative;
    // .screen__content

    &__content {
        padding-top: 80px;
        padding-bottom: 20px;
        position: relative;
        z-index: 2;
        height: 100%;
    }

    &__container {

        position: relative;
        z-index: 5;
        height: calc(100% - 80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__body {
        max-width: 588px;
        color: #fff;
        @media screen and (min-width: 768px) {
            margin-left: 55px;
        }
        @media screen and (min-width: 992px) {
            margin-left: 105px;
        }
    }

    // .screen__title

    &__title {
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    }

    // .screen__text

    &__text {
        line-height: 25px;
        margin-bottom: 30px;
        font-size: 16px;
        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
            font-size: 18px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 20px;
        }
    }

    // .screen__button

    &__button {
    }

    // .screen__button-link

    &__button-link {
    }

    // .screen__image

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, transparent 100%);
            @media screen and (min-width: 768px) {
                background: linear-gradient(90deg, rgba(0,0,0,.9) 15%, transparent 100%);
            }
            @media screen and (min-width: 1366px) {
                background: linear-gradient(90deg, rgba(0,0,0,1) 25%, transparent 60%);
            }
            @media screen and (min-width: 1920px) {
                background: linear-gradient(90deg, rgba(0,0,0,1) 16%, transparent 60%);
            }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}

.lastscreen {
    font-family: 'Montserrat', sans-serif;
    background: #000;
    color: #fff;
    // .lastscreen__container

    &__container {
        display: block;
        height: 100%;
        @media screen and (min-width: 768px) {
            display: flex;
            // margin-top: 151px;
        }
    }

    // .lastscreen__team

    &__team {
        margin-bottom: 75px;
        @media screen and (min-width: 768px) {
            margin-bottom: 100px;
            padding-left: 55px;
        }
        @media screen and (min-width: 1366px) {
            margin-bottom: 60px;
            padding-left: 105px;
            margin-top: 64px;
        }
        @media screen and (min-width: 1920px) {
            margin-bottom: 150px;
        }
    }

    // .lastscreen__team-title

    &__team-title, &__contacts-title {
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1366px) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1920px) {
            margin-bottom: 40px;
        }
    }

    &__flexcontainer {
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 1366px) {
            flex-wrap: nowrap;
        }
    }
    // .lastscreen__inner

    &__inner {
        margin-right: 100px;
        position: relative;
        &:nth-child(2) {
            margin-bottom: 30px;
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                margin-right: 60px;
            }
            @media screen and (min-width: 1920px) {
                margin-right: 100px;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }

    // .lastscreen__inner-name

    &__inner-name, &__contacts-name {
        font-weight: 900;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 10px;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            font-size: 20px;
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 24px;
            line-height: 29.26px;
        }
    }

    // .lastscreen__inner-block

    &__inner-block {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            flex-wrap: nowrap;
            margin-bottom: 41px;
        }
        @media screen and (min-width: 1366px) {
            margin-bottom: 0;
        }
    }

    // .lastscreen__inner-block--prof

    &__inner-block--prof {
        position: relative;
        font-size: 14px;
        line-height: 17px;
        @media screen and (min-width: 768px) {
            font-size: 16px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 20px;
        }
        &:first-child {
            margin-right: 40px;
            @media screen and (min-width: 768px) {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -20px;
                    opacity: 20%;
                    width: 1px;
                    height: 100%;
                    background: #fff;
                }
            }
        }
        p {
            margin-bottom: 4px;
            @media screen and (min-width: 768px) {
                margin-bottom: 15px;
                line-height: 18px;
            }
        }
        p + p {
            margin-bottom: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            margin-bottom: 10px;
            @media screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }
    }

    // .lastscreen__text

    &__text {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 17px;
        & + p {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
        }
        @media screen and (min-width: 768px) {
            margin-bottom: 15px;
            font-size: 16px;
            max-width: 335px;
            line-height: 18px;
        }
        @media screen and (min-width: 992px) {
            max-width: 100%;
        }
        @media screen and (min-width: 1366px) {
            margin-bottom: 15px;
        }
        @media screen and (min-width: 1920px) {
            font-size: 20px;
        }
    }

    // .lastscreen__contacts

    &__contacts {
        .lastscreen__flexcontainer {
            display: inline-flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 17px;
            @media screen and (min-width: 768px) {
                font-size: 16px;
                line-height: 19.5px;
            }
            @media screen and (min-width: 1920px) {
                font-size: 20px;
                line-height: 20px;
            }
        }
        @media screen and (min-width: 768px) {
            padding-left: 55px;
        }
        @media screen and (min-width: 1366px) {
            padding-left: 105px;
        }
    }

    // .lastscreen__contacts-title

    &__contacts-title {
        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1920px) {
            margin-bottom: 40px;
        }
    }

    // .lastscreen__contacts-name

    &__contacts-name {
    }

    // .lastscreen__contacts-mail

    &__contacts-mail {
        margin-bottom: 10px;
        color: #9AAAE1;
        text-decoration: none;
        font-weight: 500;
        @media screen and (min-width: 768px) {
            margin-bottom: 15px;
        }
    }

    // .lastscreen__contacts-tel

    &__contacts-tel {
        margin-bottom: 30px;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        @media screen and (min-width: 1366px) {
            margin-bottom: 50px;
        }
    }
}

